<div style="height:200px">

  <div class="Polaris-LegacyCard">

    <div class="Polaris-LegacyCard__Section Polaris-LegacyCard__FirstSectionPadding Polaris-LegacyCard__LastSectionPadding">

      <div class="Polaris-LegacyStack Polaris-LegacyStack--vertical">

        <div class="Polaris-LegacyStack__Item">

          <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter" type="button" aria-controls="basic-collapsible" aria-expanded="true">

            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Toggle</span>

          </button>

        </div>

        <div class="Polaris-LegacyStack__Item">

          <div id="basic-collapsible" style="transition-delay:var(--p-motion-duration-0);transition-duration:500ms;transition-timing-function:ease-in-out;max-height:none;overflow:visible" class="Polaris-Collapsible Polaris-Collapsible--expandOnPrint" aria-hidden="false">

            <div class="Polaris-TextContainer">

              <p>Your mailing list lets you contact customers or visitors who have shown an interest in your store. Reach out to them with exclusive offers or updates about your products.</p>

              <a class="Polaris-Link" href="#" data-polaris-unstyled="true">Test link</a>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

Props