.header{
  max-width: none
}

.header-custom-logo {
  color: #fff;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 3rem; /* Adjust the size as needed */
  font-weight: bold;
  letter-spacing: 1px; /* Optional: Adjust spacing between letters */
  text-decoration: none;
}

.header-link{
  color: #fff;
  font-family: "Nunito Sans", sans-serif !important;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #fff; /* Border color */    
  padding: 0.5rem 1rem 0.5rem 1rem  !important;
  display: flex;
  align-items: center; 
  margin-right: 16px;
}

.header-link:hover {
  color: #000;
  background: #fff; /* Background color on hover */
}

@media (max-width: 767px){
.hide_on_mobile{display:none; visibility:hidden;}
}

.header-icon {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-right: 16px;
}

.header-icon-default {
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* Code to disable cart */
.header__icon--cart {
  display: none;
  visibility: hidden;
}

.header__icons {
  padding-right: 0rem;
}

